$border-grey: #e8e8e8;
$light-grey: #AEAEAE;
$dark-grey: #7F7F7F;

$red: #ff4757;
$red-shadow: rgba(255, 90, 110, .3);

$white: #fff;
$black: #000;

$purple: #5C6AE6;
$purple-shadow: rgba(92, 106, 230, 0.3);

$grey-shadow: rgba(0, 0, 0, 0.3);

$teal: #71D1DC;