@import './_colors.scss';

.cta, a.cta {
    padding: 18px 54px;
    text-align: center;
    border-radius: 28.5px;
    border: 0;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    display: inline-block;
    margin: 35px 0;

    transition: all 0.15s ease-out;

    &:hover {
        transform: translateY(-1px);
    }

    &.primary-cta {
        color: $white;
        background-color: $red;
        box-shadow: 0 2px 5px 0 $red-shadow;

        &:hover {
            box-shadow: 0 7px 14px 0 $red-shadow , 0 3px 6px 0 $red-shadow;
        }
    }

    &.secondary-cta {
        color: $white;
        background-color: $purple;
        box-shadow: 0 2px 5px 0 $purple-shadow;

        &:hover {
            box-shadow: 0 7px 14px 0 $purple-shadow , 0 3px 6px 0 $purple-shadow;
        }
    }

    &.white-cta {
        color: $purple;
        background-color: $white;
        box-shadow: 0 2px 5px 0 $grey-shadow;

        &:hover {
            box-shadow: 0 7px 14px 0 $grey-shadow , 0 3px 6px 0 $grey-shadow;
        }
    }

    &.inverted-cta {
        color: $teal;
        background-color: transparent;
        border: 1px solid $teal;
        transition: all 0.15s ease-out;

        &:hover {
            background-color: $teal;
            color: $white;
        }
    }

    &.inline-cta {
        margin: 35px 35px 70px 35px;
    }
}

@media screen and (max-width: 768px) {
    .cta, a.cta {
        &.inline-cta {
           margin: 24px;
        }
    }
}