@import './_colors.scss';

.data-item {
    margin: 30px 0;

    &:last-child {
        margin: 40px;
    }

    a {
        text-decoration: none;
    }

    img {
        height: 70px;
        width: 70px;
    }

    .inline {
        display: inline-block;
        margin-right: 30px;
        vertical-align: middle;
    }

    .data-heading {
        transition: all 0.15s ease-out;
        border-bottom: 1px solid rgba(0, 0, 0, 0);

        &:hover {
            border-bottom-color: $light-grey;
        }
    }

    .data-heading, .data-sub-heading {
        margin: 10px 0;
        color: $dark-grey;
    }
}